@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(40deg, #111315, #111315);
  font-family: Arial, Helvetica, sans-serif;
  
}

.side-color{
 background-color: hsla(0,0%,100%,.05);
}
.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.text-color-title {
  color: hsla(0, 0%, 100%, .9);
}

.text-title-h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}
.text-title-h8 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.text-color-support, .text-color-support\/50, .text-color-support\/\[0\.5\] {
  color: hsla(0, 0%, 100%, .5);
}

.text-title-h6 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.text-title-h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
.text-purple-500 {
  --tw-text-opacity: 1;
  color: rgb(108 108 245 / var(--tw-text-opacity));
}
.text-color-body, .text-color-body\/70 {
  color: hsla(0, 0%, 100%, .7);
}
.text-body-sm {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.text-color-support, .text-color-support\/50, .text-color-support\/\[0\.5\] {
  color: hsla(0, 0%, 100%, .5);
}
.bg-brand {
  --tw-bg-opacity: 1;
  background-color: rgb(108 108 245 / var(--tw-bg-opacity));
}
.border-solid {
  border-style: solid;
}
.bg-bg-3 {
  --tw-bg-opacity: 1;
  background-color: rgb(24 26 31 / var(--tw-bg-opacity));
}
.border-line-1, .border-line-1\/\[0\.08\] {
  border-color: hsla(0, 0%, 100%, .08);
}

.bg-line-1 {
  background-color: hsla(0, 0%, 100%, .08);
}
.bg-area-container {
  background-color: hsla(0, 0%, 100%, .08);
}
.text-white\/50 {
  color: hsla(0, 0%, 100%, .5);
}


.text-color-title\/90, .text-color-title\/\[0\.9\] {
  color: hsla(0, 0%, 100%, .9);
} 
.text-color-title{
  color: hsla(0, 0%, 100%, .9);
}


.text-brand {
  --tw-text-opacity: 1;
  color: rgb(108 108 245 / var(--tw-text-opacity));
}

.border-brand {
  --tw-border-opacity: 1;
  border-color: rgb(108 108 245 / var(--tw-border-opacity));
}


.border-brand1:hover {
  --tw-border-opacity: 1;
  border-color: rgb(108 108 245 / var(--tw-border-opacity));
}

.text-title-h9 {
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
}

.bg-ux-purple-select {
  background-color: rgba(108, 108, 245, .16);
}

.bg-black\/20 {
  background-color: rgba(0, 0, 0, .2);
}

.bg-area-platform, .bg-area-platform\/\[0\.04\] {
  background-color: hsla(0, 0%, 100%, .04);
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
}